{% extends "layout.html" %}

{% block content %}
    <h1>Каталог доступных туров</h1>
    <p>Ниже представлен список актуальных предложений от нашего агентства.</p>
    <table>
        <thead>
            <tr>
                <th>Название тура</th>
                <th>Описание</th>
                <th>Продолжительность (дней)</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for tour in tours %}
            <tr>
                <td>{{ tour.tour_name }}</td>
                <td>{{ tour.description }}</td>
                <td>{{ tour.duration_days }}</td>
                <td>{{ "%.2f"|format(tour.price) }} руб.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}